@import "@acab/reset.css";

:root {
  --base-bg-color: #fafafa;
  --base-font-color: #141414;
}

body {
  background-color: var(--base-bg-color);
  color: var(--base-font-color);
}

/* <Layout>のデフォルトスタイルを上書き */
:where(.css-dev-only-do-not-override-14wwjjs).ant-layout {
  background-color: var(--base-bg-color);
  height: 100%;
}

/* <Sider>のデフォルトスタイルを上書き */
:where(.css-dev-only-do-not-override-14wwjjs).ant-layout .ant-layout-sider {
  background-color: var(--base-bg-color);
}

/* <Header>のデフォルトスタイルを上書き */
:where(.css-dev-only-do-not-override-14wwjjs).ant-layout-header {
  background-color: var(--base-bg-color);
  padding: 0;
  height: 3em;
  line-height: 1.5em;
}
