@import "@acab/reset.css";
/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/

:root {
  --base-bg-color: rgb(234, 234, 234);
  --base-font-color: rgb(14, 14, 14);
}

/*body {
  background-color: var(--base-bg-color);
  color: var(--base-font-color);
}*/

/* Headerのデフォカラー上書き */
:where(.css-dev-only-do-not-override-14wwjjs).ant-layout-header {
  background-color: var(--base-bg-color);
  padding: 0;
  height: 3em;
  line-height: 1.5em;
}
